.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    z-index: 1;
}

.featuredItem {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    cursor: pointer;
}


.featuredImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in;
}

.featuredImg:hover {
    transform: scale(1.5) rotate(-10deg);
}

.featuredTitle {
    position: absolute;
    bottom: 20px;
    left: 20px;
}